<div class="container" id="homepage-product">
  <div class="row">
    <div class="col-sm-4">
      <br /><br /><br />
      <label for="">Price Range</label>
      <dl>
        <dd>$5 - $50</dd>
        <dd>$50 - $500</dd>
        <dd>$500 - $5000</dd>
        <dd>$5000 - $50000</dd>
      </dl>
    </div>

    <div class="col-sm-8">
      <h2>Mobile Phones</h2>
      <br />

      <div class="row" *ngFor="let i of items">
        <div class="col-sm-4" id="top-products">
          <div
            class="card"
            style="width: 14rem; background-color: rgb(211, 211, 211)"
          >
            <br />
            <div class="col-8">
              <label
                class="p-1 bg-warning"
                style="text-align: left"
                *ngIf="i.isTopProduct"
                >#1 In Televisions</label
              >
            </div>
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
              <h5 class="card-title">
                <a [routerLink]="['/product-details', i._id]">{{ i.name }}</a>
              </h5>

              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a routerLink="/add-to-cart/" class="btn btn-primary"
                >Add to Cart</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
