<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Welcome to Shop 24x7</h3>
      <br>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.</p>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Register</h2>
          <br>
          <!-- <p class="card-text"> -->
          <form class="row g-3" (ngSubmit)="onRegister()" [formGroup]="registerForm">
            <div class="col-md-6">
              <label for="firstname" class="form-label">First Name</label>
              <input type="email" class="form-control" id="register-first-name" formControlName="firstName">
            </div>
            <div class="col-md-6">
              <label for="lastname" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="register-last-name" formControlName="lastName">
            </div>
            <div class="col-12">
              <label for="phonenumber" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="register-phonenumber" formControlName="phoneNumber">
            </div>
            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="register-email" formControlName="email">
            </div>
            <div class="col-12">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="register-password" formControlName="password">
            </div>
            <div class="col-12">
              <label for="confirmpassword" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="register-confirmpassword"
                formControlName="confirmPassword">
            </div>
            <div class="col-md-6">
              <label for="interest" class="form-label">Interests</label>
              <input type="text" class="form-control" id="register-interest" formControlName="interest">
            </div>
            <div class="col-md-6">
              <label for="role" class="form-label">Choose Role:</label>
              <select name="role" id="register-role" class="form-select" formControlName="role">
                <option value="admin">Admin</option>
                <option value="customer">Customer</option>
              </select>
            </div>
            <div class="col-md-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="register-address" formControlName="address">
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary" style="align-content: right;">Register</button> |
              <button type="submit" class="btn btn-primary" style="align-content: right;"
                routerLink="/login">Login</button>
            </div>
          </form>
          <!-- </p> -->

        </div>
      </div>
    </div>
  </div>
</div>
